<div class="leftbar">
    <div class="social-bar">
        <a href="#" class="social-icon"><img src="/asset/linkedin_logo.png" alt="LinkedIn"></a>
        <a href="#" class="social-icon"><img src="/asset/git_logo.png" alt="GitHub"></a>
        <a href="#" class="social-icon"><img src="/asset/stackoverflow.png" alt="StackOverflow"></a>
        <a href="#" class="social-icon"><img src="/asset/portfolio_logo.png" alt="Portfolio"></a>
      </div>
</div>