<% if (locals.path === 'addpage') { %>
    <div class="right-bar-opt">
        <a href="#" onclick="window.location.href='/'" class="social-icon opt"><img src="/asset/backarrow.png" alt="GitHub"></a>
    </div>
<% } %>
<div class="right-bar">
    <input type="checkbox" class="theme-checkbox" id="theme-checkbox">
    <a href="#" class="social-icon"><img src="/asset/console_logo.png" alt="GitHub"></a>
</div>


