
.theme-checkbox {
    margin: 10px 0;
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    transition: 0.4s;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }
  
  .theme-checkbox::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0.63em;
    left: 1.08em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .theme-checkbox:checked::before {
    left: calc(100% - 1.2em - 0.438em);
    background-position: 0;
  }
  
  .theme-checkbox:checked {
    background-position: 100%;
  }
  
  .theme-checkbox:hover::after {
    content: "Dark mode";
    position: absolute;
    top: 1px;
    left: -130%;
    transform: translateX(-50%);
    background-color: #0000007d;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .theme-checkbox:hover::before {
    opacity: 0.5;
  }
  
  .theme-checkbox:hover::after {
    opacity: 1;
    visibility: visible;
  }
  
  
/* Dark mode */

body.dark-mode:not([class*=" "]) {
  background-color: #202020fd;
  color: #e0e0e0;
}

body.modal-active{
  background-color: #202020fd !important;
  color: #e0e0e0;
}

.social-bar.dark-mode {
  background-color: #212121;
  box-shadow: 4px 4px 6px #272727,
              -4px -4px 5px #151515;
  
}
.social-bar.dark-mode  img{
  filter: invert(100%);
}
.right-bar.dark-mode {
  background-color: #212121;
  box-shadow: 6px -1px 6px #151515,
              -4px -4px 5px  #272727;
}

.right-bar.dark-mode img{
  filter: invert(100%);
}

.right-bar-opt.dark-mode{
  background-color: #393939;
  box-shadow: -4px -4px 6px #212121ab; 

}

.right-bar-opt.dark-mode img{
  filter: invert(100%);

}
.right-bar-opt-2.dark-mode{
  background-color: #393939;
  box-shadow: -4px -4px 6px #212121ab; 
  transition: 0.4s;
}

.right-bar-opt-2.dark-mode img{
  filter: invert(100%);

}

.right-bar-opt-2.dark-mode .editBtn::before{
    background-color: rgb(216, 216, 216);
}

.mb-3 .form-control.dark-mode{
  border: 1px solid #4b4b4b;
  color: #efefef;
  background: #212121;
  box-shadow: 4px 4px 6px #1b1b1b,
              -4px -4px 6px #272727; 
}

.mb-3 .form-control.dark-mode:focus {
  border-color: #009688; /* Change the border color on focus */
  box-shadow: 4px 4px 10px #1b1b1b,
              -4px -4px 10px #272727,
              0 0 5px #009688; /* Add an extra glow effect on focus */
  outline: none; /* Remove the default outline */
}

.card.dark-mode{
  background: #212121;
  box-shadow: 4px 4px 6px #1b1b1b,
              -4px -4px 6px #272727; 
}
.card.dark-mode:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(189, 189, 189, 0.1);
}
.card.dark-mode .card-title{
  color: #91ffc8;
}
.card.dark-mode p{
  color: rgb(184, 184, 184);
}

.body-container.dark-mode .blog-body{
  border-color: #4b4b4b;
  background-color: #393939;
  box-shadow: 4px 4px 6px #1b1b1b,
  -4px -4px 6px #272727; 
  color: #e0e0e0;
}
.body-container.dark-mode .blog-image{
  border-color: #4b4b4b;
  background-color: #393939;
  box-shadow: 4px 4px 6px #1b1b1b,
  -4px -4px 6px #272727; 
}

.add-btn.dark-mode{
  box-shadow: 4px 4px 6px #1b1b1b,
              -4px -4px 6px #272727; 

}

.add-btn.dark-mode span {
  color: #ffffffd9;
}
.add-btn.dark-mode:hover span {
  color: #ffffff;
  text-shadow: #151515 8px 8px 8px;
}

.add-btn.dark-mode:hover {
  background: rgb(222,0,75);
  background: linear-gradient(90deg, rgba(222,0,75,1) 4%, rgba(191,70,255,1) 79%, rgba(0,212,255,1) 120%);

}
.add-btn.dark-mode img{
  opacity: 0.8;
  filter: invert(100%);
}

.progress-loader.dark-mode{
  background: #3b3b3b77;
  box-shadow: 3px 3px 6px #1b1b1b,
  -3px -3px 6px #272727; 
}

.comments-section.dark-mode{
  border-color: #4b4b4b;
  background-color: #393939;
  box-shadow: 4px 4px 6px #1b1b1b,
  -4px -4px 6px #272727; 
  color: #e0e0e0;
}

.comments-section.dark-mode .profile-pic{
  border-color: #4b4b4b;
}
.comments-section.dark-mode .comment-box{
  border-bottom:1px solid #4b4b4b;
}
.comments-section.dark-mode .comment-box input{
  border:1px solid #4b4b4b;
  background-color: #4b4b4b;
}
.comments-section.dark-mode .comment-box input:focus {
  outline: none;
  border-color: #ffffff;
}


.comments-section.dark-mode .comment-box-buttons{
  filter: invert(100%);
}

.comments-section.dark-mode .reply-comment{
  background-color: #4b4b4b;
  border-left: 1px solid #a5a5a5;
}
