body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* Ensure relative positioning of the body */
    z-index: 0; /* Ensure z-index is set */
  }
  
  
.main-container{
    display:grid;
    grid-template-columns: 1.12fr 5.5fr 1.31fr;
    height: 100%;
  }
  .lside-container{
    border: 0px solid grey;
  }
  .body-container{
    /* border: 1px solid grey; */
    padding: 10px;
  }
  .rside-container{
    border: 0px solid grey;
  }
  
  .right-bar, .social-bar {
    z-index: 1;
    
  }

  .headpage{
    z-index: 999999;
    position:relative;
  }

  .allcards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    justify-content: center;
    align-items: start; 
    gap: 50px; 
    padding: 10px;
    margin-top: 5vh;
  }
  
  
.card {
  padding:10px; 
  width: 250px; 
  height:300px;
  margin-top: 10px;
  min-height:200px; 
  border-radius: 15px; 
  background:white;
  box-shadow: 4px 4px 6px #d3d3d3, 
             -4px -4px 6px #f5f5f5; 
  transition: 0.4s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.card:hover {
  translate: 0 -8px; 
}

.card-title {
  margin:11px 0 0 8px;
  font-size: 19px; 
  font-weight: 600;
  color: #ff7525;
}

.card-image {
  min-height: 150px;
  background-color: #313131;
  border-radius: 12px; 
  background: #313131;
  box-shadow: inset 4px 4px 2px #2f2f2f,
              inset -4px -4px 2px #333333; 
  background: linear-gradient(#e66465, #9198e5);
}
.card-image img{
  width: 100%;
  height: 100%;
  background-color: #313131;
  border-radius: 12px;
  background: #313131;
  box-shadow: inset 4px 4px 2px #2f2f2f,
              inset -4px -4px 2px #333333; 
}

.card-body {
  margin: 0;
  color: rgb(88, 87, 87);
  font-size:11px;
  padding: 5px 0 0 10px;
}

.footer {
  align-self:end;
  margin:10px 0 0 0;
  font-size:xx-small;
  color: rgb(88, 87, 87);
}

.by-name {
  font-weight: 700;
}

.form-control{
  background-color: #f8f9fa;
  color: #000000;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.title-addpage {
  animation: subtleFade 3s ease-in-out infinite;
}

.btn{
  animation: subtleFade 3s ease-in-out infinite;
}

@keyframes subtleFade {
  0%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-2px);
  }
}

.blog-tit{
  margin: 10px;
  font-family:Verdana, Geneva;
}

.blog-image {
  display: flex;
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
  width: 95%;
  height: 75vh; /* 75% of viewport height */
  margin: 0 auto;
  overflow: hidden; /* Ensures the image doesn't overflow its container */
}

.blog-image img {
  width: 100%; /* Ensure the image stretches to fill its container */
  height: 100%; /* Ensure the image stretches to fill its container */
  object-fit: fill; /* Stretch the image to fill its container, ignoring aspect ratio */
  display: block;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .blog-image {
    height: 50vh; /* Adjust height for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .blog-image {
    height: 30vh; /* Further adjust height for even smaller screens */
  }
}



.blog-body {
  font-size: 16px;
  line-height: 1.6;
  /* text-align: left; */
  margin: 20px 0;
  padding: 10px;
  font-family:Comic Sans MS, sans-serif;
  color: #333;
  white-space: pre-wrap; 
  word-wrap: break-word; 
  background-color: #f8f8f8; 
  border: 1px solid #ddd; 
  border-radius: 5px;
}

.blog-body p {
  margin-bottom: 15px; /* Add space between paragraphs */
}

.blog-body h2, .blog-body h3, .blog-body h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #007BFF; /* Example color for subheadings */
}

.blog-body ul, .blog-body ol {
  margin: 20px 0;
  padding-left: 40px;
}

.blog-body a {
  color: #007BFF; /* Link color */
  text-decoration: none;
}

.blog-body a:hover {
  text-decoration: underline;
}

.btn-96,
.btn-96 *,
.btn-96 :after,
.btn-96 :before,
.btn-96:after,
.btn-96:before {
  border-radius: 12px;
  box-sizing: border-box;
}

.btn-96 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #006400; /* Dark green background */
  background-image: none;
  color: #ffffff; /* White text */
  border: 1px solid rgba(0, 100, 0, 0.1); /* Green border */
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 1.3rem 3.5rem; /* Decreased padding */
}

.btn-96:disabled {
  cursor: default;
}

.btn-96:-moz-focusring {
  outline: auto;
}

.btn-96 svg {
  display: block;
  vertical-align: middle;
}

.btn-96 [hidden] {
  display: none;
}

.btn-96 {
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  perspective: 800px;
  position: relative;
  text-transform: uppercase;
  transform-style: preserve-3d;
}

.btn-96 span {
  background: #90ee90; /* Light green background */
  color: #006400; /* Dark green text */
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transform: rotateX(0deg);
  transform-origin: top center;
  transition: 0.2s;
}

.btn-96:hover span {
  border: 1px solid rgba(0, 100, 0, 0.405); /* Green border */
  transform: rotateX(35deg);
}

.btn-96:after,
.btn-96:before {
  background: #98fb98; /* Pale green background */
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateX(0deg);
  width: 100%;
  z-index: -1;
}

.btn-96:after {
  background: #416241; /* Darker pale green background */
  width: 0;
}

.btn-96:hover:after {
  -webkit-animation: progress-bar 1.2s;
  animation: progress-bar 1.2s;
}

@-webkit-keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }

  10% {
    opacity: 1;
    width: 15%;
  }

  25% {
    opacity: 1;
    width: 25%;
  }

  40% {
    opacity: 1;
    width: 35%;
  }

  55% {
    opacity: 1;
    width: 75%;
  }

  60% {
    opacity: 1;
    width: 100%;
  }

  to {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progress-bar {
  0% {
    opacity: 1;
    width: 0;
  }

  10% {
    opacity: 1;
    width: 15%;
  }

  25% {
    opacity: 1;
    width: 25%;
  }

  40% {
    opacity: 1;
    width: 35%;
  }

  55% {
    opacity: 1;
    width: 75%;
  }

  60% {
    opacity: 1;
    width: 100%;
  }

  to {
    opacity: 0;
    width: 100%;
  }


}

.button {
  --main-focus: #2d8cf0;
  --font-color: #f9f9f9;
  --bg-color-sub: #ff0000;
  --bg-color: #e02e2e;
  --main-color: #eb3b3b;

  /* Use viewport units for responsive positioning */
  position: absolute;  /* Maintain fixed positioning for consistent placement */
  bottom: 1.5vh;       
  right: 20vw;        /* Set right position from the viewport right */
  width: 112px;
  height: 43px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}
.button__text{
  position: absolute;  /* Maintain fixed positioning for consistent placement */
  bottom: 0vh; 
  right: 7px;      
  width: 120px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(33px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 20px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  margin-right: 36px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
