.rightbar {
  border: 1px solid red;
  width: 60px;
  height: 10vh;
  margin-left: auto;
}



.right-bar {
  position:fixed;
  top: 50%;
  right: 1.7vh;
  width: 60px;
  height: 100px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 17px;
  /* background-color: linear-gradient(45deg, rgb(228, 232, 236) 0%, rgb(234 234 234) 100%); */
  background-color: #eaeaeadb;
  box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
  transition: all .3s;
  animation: slideInright 0.27s ease-in-out;
}


@keyframes slideInright {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-45%);
  }
}



.social-bar {
  position: fixed;
  top: 50%;
  left: 1.7vh;
  width: 50px;
  height: 205px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  border-radius: 17px;
  animation: slideInleft 0.35s ease-in-out;
  background-color: linear-gradient(45deg, rgb(228, 232, 236) 0%, rgb(234 234 234) 100%);
  box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
  transition: all .4s;
}


@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}


.social-icon {
  margin: 10px 0;
}

.social-icon img {
  width: 28px;
  height: 29px;
  display: block;
}


.right-bar-opt {
  position: fixed;  /* Maintain fixed positioning for consistent placement */
  right:1.6vh;      /* Use vw unit for responsive right edge positioning */
  top: 42.5%;
  transform: translateY(-50%); /* Offset vertically by half its height */
  width: 60px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 17px;
  /* background-color: linear-gradient(45deg, rgb(228, 232, 236) 0%, rgb(234 234 234) 100%); */
  background-color: #e7e7e7e8;
  box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
  transition: all .4s;
  animation: slideUp 0.5s ease-in-out;
}


.right-bar-opt:hover::after {
  content: "Go Back!";
  position: absolute;
  top:11px;
  left: -25%;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: 0.4s;
}

.right-bar-opt:hover::before {
  opacity: 0.5;
}

.right-bar-opt:hover::after {
  opacity: 1;
  visibility: visible;
}

.editBtn {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: none;
  background-color: #0000007d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(81, 81, 168);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 17px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 19px;
  height: 1.5px;
  position: absolute;
  bottom: 9px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}

.right-bar-opt-2 {
  position: fixed;
  right:1.6vh;
  top:58%; 
  transform: translateY(-50%);
  width:3.7em; 
  height:5.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 17px;
  background-color: #e7e7e7e8;
  box-shadow: -2px -7px 10px #f1f1f1, 4px 6px 10px #d4d7da;
  transition: all .3s;
  animation: slideDown 0.5s ease-in-out;
}



.right-bar-opt-2:hover::after {
  content: "edit your post";
  position: absolute;
  top:52px;
  left: -55%;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: 0.4s;
}

.right-bar-opt-2:hover::before {
  opacity: 0.5;
}

.right-bar-opt-2:hover::after {
  opacity: 1;
  visibility: visible;
}

.social-icon-2 {
  margin: 47px 0;
}

#linkedin:hover::after {
  content: "LinkedIn";
  position: absolute;
  top:11px;
  right:-65px;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#linkedin:hover::before {
  opacity: 0.5;
}

#linkedin:hover::after {
  opacity: 1;
  visibility: visible;
}

#github:hover::after {
  content: "Github";
  position: absolute;
  top:6.2em;
  right:-5.5em;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#github:hover::before {
  opacity: 0.5;
}

#github:hover::after {
  opacity: 1;
  visibility: visible;
}

#stack:hover::after {
  content: "Stack Overflow";
  position: absolute;
  top:11em;
  right:-11em;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#stack:hover::before {
  opacity: 0.5;
}

#stack:hover::after {
  opacity: 1;
  visibility: visible;
}

#portfolio:hover::after {
  content: "Portfolio";
  position: absolute;
  top:16em;
  right:-6.6em;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#portfolio:hover::before {
  opacity: 0.5;
}

#portfolio:hover::after {
  opacity: 1;
  visibility: visible;
}

.cursor-message {
  position: fixed;
  display: none; /* Initially hidden */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  font-size: x-small;
  border-radius: 5px;
  pointer-events: none; /* Ensures the message does not interfere with cursor */
  transition: opacity 0.2s ease, transform 0.2s ease; /* Smooth transition for visibility and position */
  max-width: 200px; /* Limit maximum width of the message */
  text-align: center; /* Center align text */
  z-index: 1000; /* Ensure it's above other content */
}
/* .msg{
  position: absolute;
  top:10em;
  right:0;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
} */

.msg{
  position: absolute;
  top:12em;
  right:-6.6em;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size:small;
  visibility: hidden;
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */
  z-index: 1000; 
}

.progress-loader {
  position: fixed;
  top: 50%;
  left: -5px;
  height: 4px;
  width: 100px;
  rotate:-90deg;
  background:rgb(148, 159, 173);
  border: 1px solid #00000036;
  box-shadow: -4.4px -6.2px 8px #f1f1f1, 3px 5.5px 6px #d4d7da;
}

.progress-loader {
  width: 165px;
  height: 4px;
  border-radius: 7px;
}

.progress {
  content: '';
  width: 1px;
  height: 3px;
  border-radius: 7px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px white;
  transition: 0.5s;
}
