.rightbar {
  border: 1px solid red;
  width: 60px;
  height: 10vh;
  margin-left: auto;
}



.right-bar {
  position:fixed;
  top: 50%;
  right: 1.5vh;
  width: 60px;
  height: 100px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  background-color: #ffffff; 
  animation: slideInright 0.35s ease-in-out;
}


@keyframes slideInright {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}


.social-bar {
  position: fixed;
  top: 50%;
  left: 1.5vh;
  width: 50px;
  height: 205px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  background-color: #ffffff; 
  animation: slideInleft 0.35s ease-in-out;
}


@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}


.social-icon {
  margin: 10px 0;
}

.social-icon img {
  width: 28px;
  height: 29px;
  display: block;
}


.right-bar-opt{
  position:fixed;
  top: 42%;
  right: 1.5vh;
  width: 60px;
  height: 105px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 17px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; 
  animation: slideInright 0.35s ease-in-out;

}

.right-bar-opt:hover::after {
  content: "Go Back!";
  position: absolute;
  top:11px;
  left: -25%;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.right-bar-opt:hover::before {
  opacity: 0.5;
}

.right-bar-opt:hover::after {
  opacity: 1;
  visibility: visible;
}

.editBtn {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: none;
  background-color: #0000007d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editBtn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(81, 81, 168);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editBtn:hover::before {
  transform: scale(1);
}
.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 17px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editBtn::after {
  content: "";
  width: 19px;
  height: 1.5px;
  position: absolute;
  bottom: 9px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}

.right-bar-opt-2{
  position:fixed;
  top: 60%;
  right: 1.5vh;
  width: 60px;
  height: 82px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 17px;
  box-shadow: 0.1px 0.1px 3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; 
  animation: slideInright 0.35s ease-in-out;

}

.right-bar-opt-2:hover::after {
  content: "edit your post";
  position: absolute;
  top:45px;
  left: -50%;
  transform: translateX(-50%);
  background-color: #0000007d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.right-bar-opt-2:hover::before {
  opacity: 0.5;
}

.right-bar-opt-2:hover::after {
  opacity: 1;
  visibility: visible;
}

.social-icon-2 {
  margin: 38px 0;
}


